#nav-bar {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: #00a087;
    color: #e8fdff;
    padding-left: 2em;
    padding-right: 2em;
}

#nav-bar .logo {
    width: 80px;
    height: 80px;
    margin-right: 5px;
    float: left;
}

#nav-bar .header {
    margin-left: 5px;
    float: left;
    font-size: 200%;
    line-height: 80px;
}