#nav-bar {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: #00a087;
    color: #e8fdff;
    padding-left: 2em;
    padding-right: 2em;
    z-index: 1;
}

#nav-bar .logo {
    width: 80px;
    height: 80px;
    margin-right: 5px;
    float: left;
}

#nav-bar .header {
    margin-left: 5px;
    float: left;
    font-size: 200%;
    line-height: 80px;
}

#compose {
    background-color: rgb(241, 243, 235);
    border: solid 1px gray;
    border-radius: 5px;
    float: right;
    margin: 10px 2px;
    height: 80%;
    width: 15%;
    font-size: 24px;
    color: #244751;
}