#tweets {
    margin: 1em 2em 1em 2em;
    z-index: 0;
}

article {
    opacity: 0.8;
    margin-bottom: 15px;
    border: solid 1px lightgray;
    border-radius: 5px;
}

article:hover {
    opacity: 1;
} 

article .tweet-header {
    background-color: #eee;
    font-size: large;
    display: flex;
    justify-content: space-between;
    padding: 6px;
}

article .tweet-footer {
    border: solid 1px #eee;
    font-size: small;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}

article .tweet-content {
    padding: 30px 6px;
}

.tweet img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.tweet .user {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 6px;
    flex-grow: 1;
}

.tweet .somebody {
    font-size: 15px;
    color: gray;
    padding-top: 8px;
}

.tweet-footer .icons {
    opacity: 0;   
    display: flex;
    justify-content: space-between;
    float: right;
}

.tweet-footer .icons:hover {
    width: 67px;
    height: 17px;
    opacity: 1; 
    justify-content: space-between;
    float: right;  
}

.icons .icon {
    width: 18px;
    height: 14px;
}